button.btn {
    width: 170px;
    background-color: #F1A501;
    border-radius: 10px;
    padding: 15px 20px;
    font-weight: 500;
    color: #fff !important;
}
 button.btn:hover{
    transition: 0.2s ease;
    transform: scale(0.9);
}